<div class="top-main">
  <%= image_tag 'top.JPG', class: 'top-main-image' %>
  <%= link_to "ログイン", new_user_session_path, class: 'top-main-login' %>
  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'top-main-guest-login' %>
</div>

