.login-box1 {
  width: 50%;
  margin: 60px auto;
  border-radius: 15px;
  border: 1px #555555	 solid;
  background: #fff;

  span {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #FF0000;
    border: 1px #FF0000 solid;
    margin: 10px;
  }

  .login-box-inner {
    padding: 29px 30px;
  }

  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: #111111;
  }

  .login-box-email {
    margin-bottom: 20px;
  }

  .login-box-password {
    margin-bottom: 20px;
  }

  .login-box-email label, .login-box-password label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
  }

  .login-box-email input[type="text"],
  .login-box-password input[type="password"] {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    padding: 0 7px;
  }

  .login-box-login {
    margin-top: 40px;
    margin-bottom: 26px;
  }

  .login-box-login input[type="submit"] {
    border-style: none;
    width: 100%;
    height: 35px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border: 1px #a88734 solid;
  }

  p {
    text-align: left;
    color: red;
  }

  .login-box-newusr p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
  }

  .login-box-newusr a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    color: #111;
    line-height: 31px;
    text-align: center;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border-radius: 3px;
    border: 1px #a2a6ac solid;
  }

  .login-box-newusr a:hover {
    background: #e7e9ec;
  }

  .login-box-newusr {
    // margin: 30px auto;
  }

}

@media screen and (max-width:599px) {
  .login-box1 {
    width: 90%;
  }
}