.show-box {
  padding: 29px 30px;

  h1 {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: #111111;
  }

  .content-line {
    border-left: 2px dotted blue;
    margin-left: 28px;
    padding-left: 30px;
  }

  .content-heading {
    display: flex;
    padding: 3px;
    margin: 5px 0;
    background: #72f99b;
    border: solid 1px #72f99b	;
    border-radius: 10px;
  }

    .content-order {
      padding: 0.5em 1em;
      margin: 5px 10px 5px 0;
      font-weight: bold;
      color: #FFF;
      background: #6091d3;
      border: solid 3px #6091d3;
      border-radius: 10px;
      width: 50px;
    }

    .content-order p {
      margin: 0;
      padding: 0;
    }

    .content-hour, .content-place {
      margin: 13px 15px;
      font-size: 20px;
    }

  .content-image {
    height: 250px;
    width: 330px;
    position: relative;
  }

  .show-box-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border-radius: 1px;
    object-fit: none;
  }

  .content-explanation {
    margin: 10px 0 20px 0;
  }

  .content-info {
    padding: 3px;
    margin: 5px 0;
    background: #72f99b;
    border: solid 1px #72f99b	;
    border-radius: 10px;
    font-size: 16px;
  }

  .content-info-box {
    border-bottom: 1px dotted #000000;
    display: flex;
    margin: 10px;
    font-size: 15px;
  }

  .content-info-box:last-child {
    margin-bottom: 20px;
  }

  .content-info-text {
    width: 100px;
    text-align: left;
    margin-left: 10px;
  }

  .content-info-data {

  }

  .content-change1 {
    margin: 0 0 20px 60px;
  }

  .content-change2 {
    margin: 60px 0 60px 60px;
  }

  .comment {


    .comment-text {
      padding: 3px;
      margin: 10px 15px;
      background: #00ffdc;
      border: solid 1px #00ffdc	;
      border-radius: 10px;
      font-size: 16px;
      text-align: center;
    }

  }

 }