.signup-box1 {
  width: 60%;
  // height: 840px;
  margin: 60px auto;
  border-radius: 15px;
  border: 1px #555555 solid;
  background: #fff;

  span {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #FF0000;
    border: 1px #FF0000 solid;
    margin: 10px;
  }

  .signup-box-inner {
    padding: 29px 30px;
  }

  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: #111111;
  }

  .signup-box-name {
    height: 80px;
    margin-bottom: 20px;
  }

  .signup-box-email {
    height: 80px;
    margin-bottom: 20px;
  }

  .signup-box-password {
    height: 80px;
    margin-bottom: 20px;
  }

  .signup-box-name label, .signup-box-email label, .signup-box-password label, .signup-box-icon-text {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
  }

  .signup-box-name input[type="text"], .signup-box-email input[type="text"],
  .signup-box-password input[type="password"] {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    padding: 0 7px;
  }

  .signup-box-icon label {
    display: block;
    background-color: #228B22;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  .signup-box-icon input[type="file"] {
    display: none;
  }

  .signup-box-login {
    margin-bottom: 26px;
  }

  .signup-box-login input[type="submit"] {
    border-style: none;
    width: 100%;
    height: 35px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border: 1px #a88734 solid;
  }

  #new-image {
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }

  .preview-size {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    text-align: left;
    color: red;
  }

 .signup-box-newusr p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
  }

  .signup-box-newusr a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    color: #111;
    line-height: 31px;
    text-align: center;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border-radius: 3px;
    border: 1px #a2a6ac solid;
  }

  .signup-box-newusr a:hover {
    background: #e7e9ec;
  }

  .signup-box-newusr {
    // margin: 30px auto;
  }

  .field_with_errors {
    display: inline;
  }
}

@media screen and (max-width:599px) {
  .signup-box1 {
    width: 90%;
  }
}