  <% if resource.errors.any? %>
    <% if errors_hash(resource)[col].present? %>
      <% errors_hash(resource)[col].each do |error_msg| %>
        <p><%= error_msg %></p>
      <% end %>
    <% end %>
  <% end %>